/* Logo NPS */
nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

/* General styles. Each layout page has a different background */

.layoutBGIMG{
    background: url("../static/main.jpg");
    background-position: cover;
    background-size: cover;      
}

.whiteBGIMG{
    background-color: #f7f7f7;
}

.cont
{
    width: auto;    
    text-align: center;
}

/* Insert a space between bottom of nav bar and content on page */
.space
{
    padding-top: 8.5vh; 
}

/* Whole page container */
#page-container {  
    position: relative; 
    min-height: 100vh;    
}

#content-wrap {  
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    height: 2.5rem;            /* Footer height */
}



/* Search.html CSS */
#park{
  width:50vw;  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
 }

 #park option{
  text-align: center;
  font-size: 18px;
  align-content: center;
 }

 #state{
  width:50vw;  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
 }

 #state option{
  text-align: center;
  font-size: 18px;

 }

 option:hover{
  cursor: pointer;
 }
  
/* Park.html page CSS */
.carousel-item img {
    min-height: 62vh;
    height: 62vh;
    max-height: 62vh;
    align-self: center;
    display: block;
  }

/* hr after button hyperlinks */
hr.seperate {
    border-top: 1px dashed black;
    width: 90vw;
}

/* hr used in events */
hr.eventhr{
    border-color: darkgray;
}


h3{
    text-align: left;
    margin-left: 15px;
}

.redTextAlert {
    color: 	#B22222
}

.redTextAlert:hover {
    color: #B22222
}

/* Displaying info in park.html CSS */
.list-group{
    width: 95%;
    margin: auto;
    text-align: left;
}

.list-group-item.list-group-item-action.flex-column.align-items-start:hover{
    background-color: #F0F0F0;
}

.list-group-item.list-group-item-action.flex-column.align-items-start{
    border-color: rgb(56,56,56);
    background-color: #f7f7f7;
}

p{
    text-align: left;
    margin-top: 0px;
    margin-bottom:10px;
}

.paragraphSpace{
    margin-bottom: 30px;
}

.tab{
    margin-left: 2.1em;
}



/* General Bootstrap buttons */
.btn-primary{
    width:25vw;
}

/* Map CSS in park.html */
#map {
    height: 350px;
    position: relative;
    width: 100%;
}

#map-canvas {
    height: 70vh;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0px;
    
}

#routebtn{
    font-size: 20px;
}



/* Search html page CSS */
.search-container {
    background-color: hsla(202, 95%, 15%, 0.6);
    padding: 50px 30px;
    min-width: 300px;
    width: 50%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
    align-content: center;
}

/* Keyword search form */
.form-control.form-control-lg{
    width: 80vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.keyword{
    min-width: 70vw;
    max-width: 70vw;
    vertical-align: middle;
}

.search-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.largefont{
    font-size: 3.5em;
    margin-bottom: 15vh;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Select2 menu stylings */
.select2-selection__rendered {
    line-height: 36px !important;
    font-size: 1.1em;
}
.select2-container .select2-selection--single {
    height: 41px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}

.select2-search input {
    background-color: hsla(201, 100%, 91%, 0.3);
}

.select2-results { 
    background-color: hsla(201, 100%, 91%, 0.3);    
}

.input-group input:focus {
    border: 1px solid hsl(201, 100%, 50%)
}

.search-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px; 
    background-color: hsla(201, 100%, 50%, 0.8);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3)
}

.search-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5)
}


/*SVG icons*/
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}