{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="on" autofocus class="form-control" name="symbol" placeholder="National Park" type="text"/>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>        
    </form>
{% endblock %}

