{% extends "layout.html" %}

{% block title %}
    Designation Search
{% endblock %}

{% block main %}
    <br><h1>Parks classified as "{{designation}}"</h1>
    <small id="warning" align="center" class="form-text text-muted">Click on a park to get more information. </small><br>
    
    
    <div class="list-group">
        <!-- If the returned JSON is empty, display "No information available". Otherwise display relevent info -->
        {%if designationParksList|length == 0%} 
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">No information available</h5>
                </div>
            </div>
            <br>
        {%endif%}

        {% for parkItem in designationParksList %}        
        
            <a href={{parksURL.get(parkItem.get("parkCode"))}} target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                <img src={{parkPicsURL.get(parkItem.get("parkCode")) or "../static/default.jpg"}} style="width:150px;height:150px">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ parkItem.get("fullName") }}</h5>
                    <br><br>
                </div>
                
                <p class="mb-1">{{ parkItem.get("description") or "No information available"}} </p><br>

                <p class="mb-1">
                    <div class="icon baseline">
                        <svg><use xlink:href="../static/sprites.svg#entFees"/></svg>     
                    </div>              
                    <b>Entrance Fees - </b>
                    {%if parkItem.get("entranceFees", "")%}
                        {%for pass in parkItem.get("entranceFees", "")%}
                            {%if pass.get("title", "")%}
                                <p class="mb-1 tab"><i>{{ pass.get("title") or ""}}</i> <br>
                            {%endif%}
                            {%if pass.get("description", "")%}
                                {{ pass.get("description") or ""}} <br> 
                            {%endif%}
                            {%if pass.get("cost", "")%}
                                <b>Fee - </b>{{ pass.get("cost")|currencyFormat or "No information available"}} 
                            {%endif%}
                            <p>                       
                        {%endfor%}
                    {%else%}
                        No information available</p>
                    {%endif%}
                
                <p class="mb-1">
                <div class="icon baseline">
                    <svg><use xlink:href="../static/sprites.svg#weather"/></svg>     
                </div> 
                <b>Weather -</b> {{ parkItem.get("weatherInfo") or "No information available"}} </p>
                
                <p class="mb-1">
                <div class="icon baseline">                    
                    <svg><use xlink:href="../static/sprites.svg#directions"/></svg>
                </div>    
                <b>Directions -</b> {{ parkItem.get("directionsInfo") or "No information available"}} </p>
                
                <p class="mb-1">
                <div class="icon baseline">
                    <svg><use xlink:href="../static/sprites.svg#location"/></svg>
                </div>
                <b>State(s) - </b>{{parkItem.get("states")|replace(",", ", ") or "No information available"}}</p>

                <p class="mb-1">
                <div class="icon baseline">
                    <svg><use xlink:href="../static/sprites.svg#designation"/></svg>     
                </div> 
                <b>Designation -</b> {{ parkItem.get("designation") or "No information available"}} </p>

            </a>
        {% endfor %}
    </div>
<br>
{% endblock %}