<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <!-- documentation at http://getbootstrap.com/docs/4.3 -->    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- NPS Maps documentation at https://www.nps.gov/maps/tools/npmap.js/-->
        <link rel="stylesheet" href="https://www.nps.gov/lib/npmap.js/4.0.0/npmap.min.css">
        
        <!-- Select 2 documentation at https://select2.org/-->
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
        
        <!-- Add favicon on browser tab-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Override or personal changes -->
        <link href="../static/styles.css" rel="stylesheet"/>       

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places,drawing&key=AIzaSyDyqLQzo-WCmD1qnLX5tEUgRb_qDuvXYYM"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


        <title>NPS Virtual Kiosk: {% block title %}{% endblock %}</title>
    </head>

    <body>          
        <div class="whiteBGIMG" id="page-container">   
            <div id="content-wrap"> 
                <nav class="navbar navbar-expand-md navbar-light bg-light border">
                    <a class="navbar-brand" href="/"><span class="blue">N</span><span class="red">P</span><span class="green">S</span></a>
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="/keyword-search">Keyword Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="/designation-search">Designation Search</a></li>
                    </div>
                </nav>
                
                {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-primary border text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
                {% endif %}
                
                <div class="cont">
                    {% block main %}{% endblock %}
                </div>
                

            </div>
            <footer id="footer" class="small text-center text-muted">
                Data provided for free by <a href="https://www.nps.gov/subjects/developer" target="_blank">National Park Service</a>
            </footer>
        </div>
    </body>
</html>