{% extends "layout.html" %}

{% block title %}
    Explore 
{% endblock %}

{% block main %}
    <div>
        <h1><b>Welcome to {{park}}</b></h1>         
        <div class="space"></div>
        <div class="d-flex justify-content-around">
            <A HREF="#visitorcenters">Check out the visitor centers!</A>
            <A HREF="#campgrounds">Check out the campgrounds!</A>
            <A HREF="#alerts">Check out current alerts!</A>
            <A HREF="#articles">Check out articles!</A>
            <br>
            <A HREF="#events">Check out current events!</A>
            <A HREF="#news">Check out news releases!</A>
            <A HREF="#lessons">Check out educational programs!</A>
            <A HREF="#people">Check out people!</A>
            <A HREF="#places">Check out places!</A>
        </div>
    </div>
    <br>
    
    
    <h3><i><u>Visitor Center Information</u></i></h3><br> 
    <div class="list-group">
        {% for visitorCenter in visitorCentersList %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ visitorCenter.get("name") or "No information available" }}</h5>
                    <br><br>
                </div>
                
                <p class="mb-1">{{ visitorCenter.get("description") or "No information available"}} </p><br>
                <p class="mb-1"><a href= {{ visitorCenter.get("directionsUrl") or "javascript:;" }}><u><b>Directions</b></u></a><br> {{ visitorCenter.get("directionsInfo") or "No information available"}} </p>
                <!--            <small>hi</small>                    -->
            </div>
        {% endfor %}
        </div>

    <!--
    <A NAME="visitorcenters"></A>
    <div class="container-fluid">
        <h3><i><u>Visitor Center Information</u></i></h3>  
        {%for visitorCenter in visitorCentersList%}
            <p><b>Full name:</b> {{ visitorCenter.get("name") or "No information available" }}             </p>
            <p><b>Description:</b> {{ visitorCenter.get("description") or "No information available"}}    </p>
            <p><a href= {{ visitorCenter.get("directionsUrl") or "javascript:;" }}><u><b>Directions:</b></u></a> {{ visitorCenter.get("directionsInfo") or "No information available"}}  </p>
            <br>            
        {% endfor %}
    </div>
    -->
    
   

    <A NAME="campgrounds"></A>
        <h3><i><u>Campground Information</u></i></h3>          
        <div class="list-group">
            {%for campground in campgroundsList%}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ campground.get("name") or "No information  available"}} </h5>
                            <br><br>
                    </div>
                    
                    <p class="mb-1"><b>Description:</b> {{ campground.get("description") or "No information available"}}    </p>                
                    <p class="mb-1"><b>Weather: </b> <br>{{ campground.get("weatheroverview")  or "No information  available"}}             </p>   
                
                    <p class="mb-1"><b>Wheelchair Accessibility:</b><br>  {{ campground.get("accessibility").get("wheelchairaccess")  or "No information  available"}}    </p><br>
                    <p class="mb-1"><b>Internet Connectivity:</b> <br> {{ campground.get("accessibility").get("internetconnectivity")  or "No information  available"}}    </p> <br>
                    <p class="mb-1"><b>Cellphone Reception:</b> <br> {{ campground.get("accessibility").get("cellphonereception")  or "No information  available"}}    </p>  <br>

                    <p class="mb-1"><b>Bathroom Accessibility:</b> <br> {{ campground.get("amenities").get("toilets")[0]  or "No information  available"}}    </p>

                    <p class="mb-1"><b>Additional Information:</b>  {{ campground.get("accessibility").get("additionalinfo")  or "No information  available"}}    </p>  

                    <p class="mb-1"><a href={{campground.get("regulationsurl") or "javascript:;" }}><u><b>Regulations:</b></u></a> {{ campground.get("regulationsoverview") or "No information  available"}}    </p>
                    <p class="mb-1"><a href={{campground.get("directionsUrl") or "javascript:;" }}><u><b>Directions:</b></u></a> {{ campground.get("directionsoverview") or "No information  available"}}    </p>
                        
                </div>     
            {% endfor %}
    </div>


        <!--
    <A NAME="campgrounds"></A>
    <div class="container-fluid">
        <h3><i><u>Campground Information</u></i></h3>  
        {%for campground in campgroundsList%}
            <p><b>Full name:</b> {{ campground.get("name") or "No information  available"}}             </p>
            <p><b>Description:</b> {{ campground.get("description") or "No information available"}}    </p>                
            <p><b>Weather: </b> {{ campground.get("weatheroverview")  or "No information  available"}}             </p>   
        
            <p><b>Wheelchair Accessibility:</b>  {{ campground.get("accessibility").get("wheelchairaccess")  or "No information  available"}}    </p>
            <p><b>Internet Connectivity:</b>  {{ campground.get("accessibility").get("internetconnectivity")  or "No information  available"}}    </p> 
            <p><b>Cellphone Reception:</b>  {{ campground.get("accessibility").get("cellphonereception")  or "No information  available"}}    </p>  

            <p><b>Bathroom Accessibility:</b>  {{ campground.get("amenities").get("toilets")[0]  or "No information  available"}}    </p>

            <p><b>Additional Information:</b>  {{ campground.get("accessibility").get("additionalinfo")  or "No information  available"}}    </p>  

            <p><a href={{campground.get("regulationsurl") or "javascript:;" }}><u><b>Regulations:</b></u></a> {{ campground.get("regulationsoverview") or "No information  available"}}    </p>
            <p><a href={{campground.get("directionsUrl") or "javascript:;" }}><u><b>Directions:</b></u></a> {{ campground.get("directionsoverview") or "No information  available"}}    </p>
            <br>            
        {% endfor %}
    </div>
    -->

    <!--
    <A NAME="alerts"></A>
    <div class="container-fluid">
        <h3><i><u>Alerts</u></i></h3>  
        {%for alert in alertsList%}
            <p><b> <a href= {{ alert.get("url") or "javascript:;" }}>{{ alert.get("title")}}:</a></b> {{ alert.get("description") or "No information available"}}  </p>
            <br>            
        {% endfor %}
    </div>
    -->

    

    <A NAME="articles"></A>
    <div class="container-fluid">   
        <h3><i><u>Top {{articlesList|length}} Articles</u></i></h3>
        {%for article in articlesList%}
            <img src={{article.get("listingimage").get("url")}} style="width:150px;height:150px">
            <p><b> <a href= {{ article.get("url") or "javascript:;" }}>{{ article.get("title")}}:</a></b> {{ article.get("listingdescription") or "No information available"}}  </p>
            <br>            
        {% endfor %}
    </div>

    <A NAME="events"></A>
    <div class="container-fluid">               
    
        <h3><i><u>Top {{eventsList|length}}  Events</u></i></h3>  
        {%for event in eventsList%}
            {% set outer_loop = loop %}
            <p> {{ event.get("title")}} </p> 
            
            {% if event.get("isFree")=="false"%}               
            <p><b> Fee:</b> The event is not free; you should call the park</p>
            {%else%}                
            <p><b> Fee:</b> Free</p>
            {%endif%}
            
            <p> Location:</b> {{ event.get("Location")}} </p>
            
            {% if event.get("isrecurring")=="false"%}               
                <p><b> One Time Event!</b></p>
            {%else%}                
                <p><b>Repeating Event</b></p>
            {%endif%}
            
            <p><b>Days:</b>             
            {%for dayIdx in range(2,dates[outer_loop.index0]|length)%}
                
                Every {{dates[outer_loop.index0][dayIdx]}}</p>
                
            {%endfor%}
                <p><b>Dates:</b> {{dates[outer_loop.index0][0]}} to {{dates[outer_loop.index0][1]}} </p>

            <p><b>Times: </b></p>
            {%for timeIdx in range(0,event.get("times","")|length)%}
                {% if timeIdx < event.get("times")|length - 1 %}               
                    {{event.get("times")[timeIdx].get("timestart")}}, </p>
                {%else%}                
                    {{event.get("times")[timeIdx].get("timestart")}}</p>
                {%endif%}
            {%endfor%}

            <p><b>Duration: {{ duration[loop.index0]}}</b></p>
                <hr>
        {% endfor %}
    </div>


    <A NAME="news"></A>
    <div class="container-fluid">  
        <h3><i><u>Top {{newsList|length}} News Releases</u></i></h3>
        {%for news in newsList%}
            <img src={{news.get("image").get("url")}} style="width:150px;height:150px">
            <p><b> <a href= {{ news.get("url") or "javascript:;" }}>{{ news.get("title")}}:</a></b> {{ news.get("abstract") or "No information available"}}  </p>
            <p>Released: {{ news.get("releasedate").split(" ")[0] }} </p>
            <br>            
        {% endfor %}
    </div>

    <A NAME="lessons"></A>
    <div class="container-fluid">
        <h3><i><u>Educational Activities</u></i></h3>  
        {%for lesson in lessonsList%}
            <p><a href= {{ lesson.get("url") or "javascript:;" }}><u><b>{{ lesson.get("title") or "No information available"}}</b></u></a>   </p>
            <p><b>Subject:</b> {{ lesson.get("subject") or "No information available" }}             </p>
            <p><b>Grades Level:</b> {{ lesson.get("gradelevel") or "No information available"}}    </p>
            <p><b>Duration:</b> {{ lesson.get("duration") or "No information available"}}    </p>            
            <p><b>Description:</b> {{ lesson.get("questionobjective") or "No information available"}}    </p>
            <br>            
        {% endfor %}
    </div>

    <A NAME="people"></A>
    <div class="container-fluid">
        <h3><i><u>People</u></i></h3>  
        {%for person in peopleList%}
            <img src={{person.get("listingimage").get("url")}} style="width:150px;height:150px">
            <p><a href= {{ person.get("url") or "javascript:;" }}><u><b>Title:</b></u></a> {{ person.get("title") or "No information available"}}   </p>
            <p><b>Description:</b> {{ person.get("listingdescription") or "No information available"}}    </p>
            <br>            
        {% endfor %}
    </div>

    <A NAME="places"></A>
    <div class="container-fluid">
        <h3><i><u>Places</u></i></h3>  
        {%for place in placesList%}
            <img src={{place.get("listingimage").get("url")}} style="width:150px;height:150px">
            <p><a href= {{ place.get("url") or "javascript:;" }}><u><b>Title:</b></u></a> {{ place.get("title") or "No information available"}}   </p>
            <p><b>Description:</b> {{ place.get("listingdescription") or "No information available"}}    </p>
            <br>            
        {% endfor %}
    </div>

{% endblock %}

