{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<h1>Search for a park by name</h1>
<form action="/search" method="post">  
  <select size="7" class="form-control" id="park" name="park">
  {% for park in parks %}
  <option value="{{park}}">{{park}}</option>
  {% endfor %}
  </select>
  <button class="btn btn-primary" type="submit">Explore!</button>
</form>

<br><br><br>

<h1>Search for a park by state</h1>
<form action="/search" method="post">  
  <select size="7" class="form-control" id="state" name="state">
  {% for state in states %}
  <option value="{{state}}">{{state}}</option>
  {% endfor %}
  </select>
  <button class="btn btn-primary" type="submit">Explore!</button>
</form>

{% endblock %}

