{% extends "layoutBGIMG.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="space"></div>

<div class="search-container">
    <h3 class="search-title">Search for a park by name</h3>
    <form action="/search" method="post">  
      <div class="input-group">
        <select id="e1" class="park" name="park">
        {% for park in parks %}
          <option value="{{park}}">{{park}}</option>
        {% endfor %}
        </select>
      </div>    
      <button class="search-button" type="submit">Explore</button>
    </form>
  </div>
<br><br><br>

<div class="search-container">
  <h3 class="search-title">Search for a park by state</h3>
  <form action="/search" method="post">  
    <div class="input-group">
      <select id="e2" class="state" name="state">
      {% for state in states %}
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
      </select>
    </div>    
    <button class="search-button" type="submit">Explore</button>
  </form>
</div>
<br>


<script>
  $(document).ready(function() { $("#e1").select2({ width: '100%' }); });
  $(document).ready(function() { $("#e2").select2({ width: '100%' }); });
</script>


{% endblock %}

