{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Find a park</button>
        <div id="myDropdown" class="dropdown-content">
            
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <select size="4">
                <option value="Zion"><a href="#zion">Zion</a></option>
                <option value="Yosemite"><a href="#yosemite">Yosemite</a></option>
                <option value="Alaska"><a href="#alaska">Alaska</a></option>
                <option value="California"><a href="#california">California</a></option>
                <option value="Colorodo"><a href="#colorodo">Colorodo</a></option>
            </select>
        </div>
    </div>

    <script src="{{url_for('static', filename='filter.js')}}"></script>

    <h1>Hi my name is </h1>
{% endblock %}

